* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#d862a1, #9198e5);
}

#root > div {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .app {
  overflow: hidden;
}

h1 {
  font-family: "Damion", cursive;
  color: black;
  text-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
} 

/* h2 {
  color: #fff;
} */

.instructions-container {
  position: absolute;
  top: 15%;
  background-color: rgb(241, 162, 208);
  margin-top: 50px;
  height: 60vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 15px;
}

.instruction-text {
  text-align: center;
}

.intruction-text-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .card-container {
  width: 90vw;
  max-width: 350px;
  height: 500px;
  border-radius: 20px;
} */

.card-container {
  max-width: 400px;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
}

.card {
  /* position: relative; */
  background-color: salmon;
  max-width: 400px;
  height: 550px;
  border-radius: 20px;
  /* background-size: cover;
  background-position: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

/* .card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
} */

.buttons {
  margin-right: 20px;
  margin-left: 20px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.swipe {
  position: absolute;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  /* flex-shrink: 0; */
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

.name-input {
  margin-top: 15rem;
}

.result-page {
  position: absolute;
  width: 650px;
  height: 600px;
  background-color: rgb(241, 162, 208);
  left: 23%;
  top: 12%;
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
