* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  background-image: url(./public/bg-mobile.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (min-width: 992px) {
  #root {
    background-image: url(./public/bg-desktop.webp)
  }
}

#root > div {
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app {
  width: 100%;
}

.instructions-container {
  position: absolute;
  background-color: rgb(241, 162, 208);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 15px;
}

.instruction-text {
  text-align: center;
}

.intruction-text-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .card-container {
  width: 90vw;
  max-width: 350px;
  height: 500px;
  border-radius: 20px;
} */

.card-wrapper {
  /* margin: 0 auto; */
  width: 100%;
}

.card-container {
  max-width: 360px;
  height: 530px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.card {
  position: relative;
  max-width: 360px;
  height: 530px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: first baseline;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.card-detail {
  background: linear-gradient(
    to bottom,
    transparent,
    #00000082,
    #000000cf,
    #000000c7,
    black
  );
  text-align: left;
  padding: 28px;
  color: #fff;
  line-height: 23px;
}

.card-title {
  margin-bottom: 7px;
  text-shadow: 0 0 35px #000;
}

.card-description {
  padding-bottom: 18px;
}

.card-tags {
  background-color: red;
  border-radius: 30px;
  margin-right: 5px;
  padding: 2px 12px;
}

.buttons {
  margin-right: 20px;
  margin-left: 20px;
  display: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
}



.swipe {
  position: absolute;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  .buttons {
    display: block;
  }
}

.buttons button {
  /* flex-shrink: 0; */
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

.name-input {
  margin-top: 15rem;
}

.result-page {
  position: absolute;
  width: 650px;
  height: 600px;
  background-color: rgb(241, 162, 208);
  left: 23%;
  top: 12%;
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
